In [1]:
# Import necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read and load data

df = pd.read_csv("hotel_bookings.csv")

In [3]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,1/7/2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2/7/2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,3/7/2015

# Handling missing values

In [4]:
# Check the qty of missing values for each column

df.isna().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [5]:
# Reflect the missing values in terms of percentage of total qty of data points

(df.isna().sum()/df.shape[0])*100

hotel                              0.000000
is_canceled                        0.000000
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 0.000000
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.003350
babies                             0.000000
meal                               0.000000
country                            0.408744
market_segment                     0.000000
distribution_channel               0.000000
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                 0.000000
assigned_room_type                 0.000000
booking_changes                    0.000000
deposit_type                       0.000000
agent                             13.686238
company                           94.306893
days_in_waiting_list               0.000000
customer_type                      0.000000
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 0.000000
reservation_status_date            0.000000
dtype: float64

The columns with missing values are: "children", "country", "agent", and "company". Let's clean each of them as below:

- For "children" and "country", since the percentage of missing values are both lower than 1% of the overall data points, we can deduce that the associated number of rows is insignificant compared to the total we have. Thus we can drop the said rows.
- For "company", missing values make up over 94% of the column. It can be deduced that the column does not bring any significant insight. Hence we can drop the column.  
- For "agent", it falls somewhere in between the 2 categories defined above. In that case, let's NOT drop any of the data associated to it. However, note that the non-null values of "agent" column are comprised of numeric codes. In order to standardize the format, let's set the missing values to be 999 (i.e., the original numeric code ranges from 1 to 535, so 999 is sufficiently distinguished hence will not be confused while still carrying the same format)

In [6]:
df.shape

(119390, 32)

In [7]:
# Remove rows in which "children" or "country" has missing values

df = df.dropna(subset=['children', 'country'])

In [8]:
df.shape

(118898, 32)

In [9]:
# Remove column "company"

df = df.drop("company", axis=1)

In [10]:
df.shape

(118898, 31)

In [11]:
# Set missing values under "agent" column to be equal to 999

df.loc[df['agent'].isna(), 'agent'] = 999

In [12]:
df.shape

(118898, 31)

In [13]:
# Recheck missing values percentage for each column to ensure all are 0%

(df.isna().sum()/df.shape[0])*100

hotel                             0.0
is_canceled                       0.0
lead_time                         0.0
arrival_date_year                 0.0
arrival_date_month                0.0
arrival_date_week_number          0.0
arrival_date_day_of_month         0.0
stays_in_weekend_nights           0.0
stays_in_week_nights              0.0
adults                            0.0
children                          0.0
babies                            0.0
meal                              0.0
country                           0.0
market_segment                    0.0
distribution_channel              0.0
is_repeated_guest                 0.0
previous_cancellations            0.0
previous_bookings_not_canceled    0.0
reserved_room_type                0.0
assigned_room_type                0.0
booking_changes                   0.0
deposit_type                      0.0
agent                             0.0
days_in_waiting_list              0.0
customer_type                     0.0
adr                               0.0
required_car_parking_spaces       0.0
total_of_special_requests         0.0
reservation_status                0.0
reservation_status_date           0.0
dtype: float64

# Handling outliers

In [14]:
# Get an overall view on the statistics of columns with numeric values

df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000,118898.000000
mean,0.371352,104.311435,2016.157656,27.166555,15.800880,0.928897,2.502145,1.858391,0.104207,0.007948,0.032011,0.087142,0.131634,0.221181,209.364430,2.330754,102.003243,0.061885,0.571683
std,0.483168,106.903309,0.707459,13.589971,8.780324,0.996216,1.900168,0.578576,0.399172,0.097380,0.176029,0.845869,1.484672,0.652785,328.010222,17.630452,50.485862,0.244172,0.792678
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,70.000000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,0.000000,95.000000,0.000000,0.000000
75%,1.000000,161.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,16.000000,41.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,999.000000,391.000000,5400.000000,8.000000,5.000000

In [15]:
# Remove rows where adr (average daily rate) is equal or less than 0. 
# Note that even though it is arguable that adr can be 0 or lower (e.g., complimentary or refund), investopedia.com states that those categories are excluded from the calculation, hence for this study only adr > 0 is considered  

df = df[df['adr'] > 0]

In [16]:
# Remove rows where adults = 0 as it is highly unlikely that the stay is without at least one

df = df[df['adults'] > 0]

In [17]:
df.shape

(116711, 31)

In [18]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,116711.0,0.375869,0.484348,0.00,0.0,0.0,1.0,1.0
lead_time,116711.0,105.344501,106.966321,0.00,19.0,71.0,162.0,709.0
arrival_date_year,116711.0,2016.161287,0.706809,2015.00,2016.0,2016.0,2017.0,2017.0
arrival_date_week_number,116711.0,27.138599,13.558137,1.00,16.0,27.0,38.0,53.0
arrival_date_day_of_month,116711.0,15.803318,8.782961,1.00,8.0,16.0,23.0,31.0
stays_in_weekend_nights,116711.0,0.937238,0.992316,0.00,0.0,1.0,2.0,16.0
stays_in_week_nights,116711.0,2.522067,1.882512,0.00,1.0,2.0,3.0,40.0
adults,116711.0,1.866396,0.473908,1.00,2.0,2.0,2.0,4.0
children,116711.0,0.101276,0.391878,0.00,0.0,0.0,0.0,10.0
babies,116711.0,0.007857,0.097074,0.00,0.0,0.0,0.0,10.0
is_repeated_guest,116711.0,0.027992,0.164951,0.00,0.0,0.0,0.0,1.0
previous_cancellations,116711.0,0.087121,0.851064,0.00,0.0,0.0,0.0,26.0
previous_bookings_not_canceled,116711.0,0.119946,1.433697,0.00,0.0,0.0,0.0,72.0
booking_changes,116711.0,0.215592,0.630850,0.00,0.0,0.0,0.0,18.0
agent,116711.0,204.255477,322.845338,1.00,9.0,28.0,240.0,999.0
days_in_waiting_list,116711.0,2.352340,17.730464,0.00,0.0,0.0,0.0,391.0
adr,116711.0,103.743479,49.159927,0.26,71.0,95.0,126.0,5400.0
required_car_parking_spaces,116711.0,0.062076,0.244575,0.00,0.0,0.0,0.0,8.0
total_of_special_requests,116711.0,0.570375,0.791003,0.00,0.0,0.0,1.0,5.0

In [19]:
# Select the columns which are NOT categorical, and conduct "outliers presence" test based on interquartile range

categorical_columns = ['is_canceled', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'is_repeated_guest', 'agent']

for col in df.describe().columns:
    if col in categorical_columns:
        continue
    else:
        q1 = np.quantile(df[col],0.25)
        q3 = np.quantile(df[col],0.75)
        iqr = q3-q1
        upper_bound = q3+(1.5*iqr)
        lower_bound = q1-(1.5*iqr)
        print(f'For {col}: Upper Bound is {upper_bound} and Lower Bound is {lower_bound}')
        x = 0
        if df[col].max() > upper_bound:
            print("Higher outlier/s detected")
            x = 1
        if df[col].min() < lower_bound:
            print("Lower outlier/s detected")
            x = 1
        if x ==0:
            print("No outliers detected")
        print("\n")

For lead_time: Upper Bound is 376.5 and Lower Bound is -195.5
Higher outlier/s detected


For stays_in_weekend_nights: Upper Bound is 5.0 and Lower Bound is -3.0
Higher outlier/s detected


For stays_in_week_nights: Upper Bound is 6.0 and Lower Bound is -2.0
Higher outlier/s detected


For adults: Upper Bound is 2.0 and Lower Bound is 2.0
Higher outlier/s detected
Lower outlier/s detected


For children: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For babies: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For previous_cancellations: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For previous_bookings_not_canceled: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For booking_changes: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For days_in_waiting_list: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For adr: Upper Bound is 208.5 and Lower Bound is -11.5
Higher outlier/s detected


For required_car_parking_spaces: Upper Bound is 0.0 and Lower Bound is 0.0
Higher outlier/s detected


For total_of_special_requests: Upper Bound is 2.5 and Lower Bound is -1.5
Higher outlier/s detected

In [20]:
# For the columns which are NOT categorical and have been detected with outliers, the rows asscoiated with the outliers are removed  

cleaned = df.copy()

categorical_columns = ['is_canceled', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'is_repeated_guest', 'agent']

for col in df.describe().columns:
    if col in categorical_columns:
        continue
    else:
        q1 = np.quantile(df[col],0.25)
        q3 = np.quantile(df[col],0.75)
        iqr = q3-q1
        upper_bound = q3+(1.5*iqr)
        lower_bound = q1-(1.5*iqr)
        if upper_bound != lower_bound:   # Maintain (untouch) the column values if upper bound = lower bound to avoid over-removing information
            cleaned = cleaned[(cleaned[col] >= lower_bound) & (cleaned[col] <= upper_bound)]

In [21]:
cleaned.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,104062.0,0.372557,0.483488,0.0,0.0,0.0,1.0000,1.0
lead_time,104062.0,96.072313,92.983284,0.0,18.0,67.0,152.0000,374.0
arrival_date_year,104062.0,2016.138148,0.707511,2015.0,2016.0,2016.0,2017.0000,2017.0
arrival_date_week_number,104062.0,26.831725,13.785930,1.0,16.0,27.0,38.0000,53.0
arrival_date_day_of_month,104062.0,15.798418,8.766711,1.0,8.0,16.0,23.0000,31.0
stays_in_weekend_nights,104062.0,0.860372,0.869135,0.0,0.0,1.0,2.0000,4.0
stays_in_week_nights,104062.0,2.309758,1.412620,0.0,1.0,2.0,3.0000,6.0
adults,104062.0,1.848619,0.475359,1.0,2.0,2.0,2.0000,4.0
children,104062.0,0.077271,0.335106,0.0,0.0,0.0,0.0000,3.0
babies,104062.0,0.006573,0.090777,0.0,0.0,0.0,0.0000,10.0
is_repeated_guest,104062.0,0.029281,0.168593,0.0,0.0,0.0,0.0000,1.0
previous_cancellations,104062.0,0.094252,0.898676,0.0,0.0,0.0,0.0000,26.0
previous_bookings_not_canceled,104062.0,0.127068,1.492806,0.0,0.0,0.0,0.0000,72.0
booking_changes,104062.0,0.205349,0.609258,0.0,0.0,0.0,0.0000,17.0
agent,104062.0,205.873258,329.436440,1.0,9.0,22.0,240.0000,999.0
days_in_waiting_list,104062.0,2.208943,14.878945,0.0,0.0,0.0,0.0000,259.0
adr,104062.0,98.776717,38.278264,1.0,70.5,94.5,122.2975,208.5
required_car_parking_spaces,104062.0,0.060224,0.241192,0.0,0.0,0.0,0.0000,8.0
total_of_special_requests,104062.0,0.505516,0.686292,0.0,0.0,0.0,1.0000,2.0

In [22]:
cleaned.shape

(104062, 31)

In [23]:
# Write and save cleaned data to "hotel_bookings_cleaned.csv" 

cleaned.to_csv('hotel_bookings_cleaned.csv', index= False)